In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
!pip install dataframe_image
import dataframe_image as dfi

Requirement already satisfied: dataframe_image in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (0.1.11)
Requirement already satisfied: lxml in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (4.9.2)
Requirement already satisfied: pillow in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (9.4.0)
Requirement already satisfied: requests in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (2.29.0)
Requirement already satisfied: aiohttp in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (3.8.3)
Requirement already satisfied: beautifulsoup4 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (4.12.2)
Requirement already satisfied: mistune in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (0.8.4)
Requirement already satisfied: pandas>=0.24 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (1.5.3)
Requirement already satisfied: html2image in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (2.0.3)
Requirement already satisfied: cssutils in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (2.7.1)
Requirement already satisfied: nbconvert>=5 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (6.5.4)
Requirement already satisfied: packaging in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from dataframe_image) (23.0)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (0.4)
Requirement already satisfied: jupyter-core>=4.7 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (5.3.0)
Requirement already satisfied: bleach in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (4.1.0)
Requirement already satisfied: tinycss2 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (1.2.1)
Requirement already satisfied: pygments>=2.4.1 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (2.15.1)
Requirement already satisfied: defusedxml in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (1.5.0)
Requirement already satisfied: traitlets>=5.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (5.7.1)
Requirement already satisfied: jupyterlab-pygments in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (0.1.2)
Requirement already satisfied: nbclient>=0.5.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (0.5.13)
Requirement already satisfied: nbformat>=5.1 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (5.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (2.1.1)
Requirement already satisfied: jinja2>=3.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbconvert>=5->dataframe_image) (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from pandas>=0.24->dataframe_image) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from pandas>=0.24->dataframe_image) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from pandas>=0.24->dataframe_image) (1.24.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->dataframe_image) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->dataframe_image) (1.8.1)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->dataframe_image) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->dataframe_image) (22.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->dataframe_image) (1.3.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->dataframe_image) (6.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->dataframe_image) (2.0.4)
Requirement already satisfied: soupsieve>1.2 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from beautifulsoup4->dataframe_image) (2.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->dataframe_image) (2023.7.22)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->dataframe_image) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->dataframe_image) (3.4)
Requirement already satisfied: platformdirs>=2.5 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from jupyter-core>=4.7->nbconvert>=5->dataframe_image) (2.5.2)
Requirement already satisfied: jupyter-client>=6.1.5 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbclient>=0.5.0->nbconvert>=5->dataframe_image) (7.4.9)
Requirement already satisfied: nest-asyncio in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbclient>=0.5.0->nbconvert>=5->dataframe_image) (1.5.6)
Requirement already satisfied: fastjsonschema in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbformat>=5.1->nbconvert>=5->dataframe_image) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from nbformat>=5.1->nbconvert>=5->dataframe_image) (4.17.3)
Requirement already satisfied: six>=1.5 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.24->dataframe_image) (1.16.0)
Requirement already satisfied: webencodings in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from bleach->nbconvert>=5->dataframe_image) (0.5.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert>=5->dataframe_image) (0.18.0)
Requirement already satisfied: tornado>=6.2 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert>=5->dataframe_image) (6.2)
Requirement already satisfied: pyzmq>=23.0 in /Users/admin/anaconda3/envs/dev/lib/python3.10/site-packages (from jupyter-client>=6.1.5->nbclient>=0.5.0->nbconvert>=5->dataframe_image) (23.2.0)

In [28]:
from pathlib import Path
CoD = Path("NCHS_-_Leading_Causes_of_Death__United_States.csv")
COD_df = pd.read_csv(CoD)
COD_df.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8

In [29]:
COD_counts = COD_df['Cause Name'].value_counts()
COD_counts

Unintentional injuries     988
All causes                 988
Alzheimer's disease        988
Stroke                     988
CLRD                       988
Diabetes                   988
Heart disease              988
Influenza and pneumonia    988
Suicide                    988
Cancer                     988
Kidney disease             988
Name: Cause Name, dtype: int64

In [117]:
COD_df = COD_df.loc[(COD_df['Cause Name'] != 'All causes ') & (COD_df['State'] != 'United States') & (COD_df['Cause Name'] != 'All causes')]
COD_df

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8
5,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13840,33.2
...,...,...,...,...,...,...
10863,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Virginia,1035,16.9
10864,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,278,5.2
10865,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,West Virginia,345,16.4
10866,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wisconsin,677,11.9
10867,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wyoming,30,6.8

In [38]:
COD_cause_counts = COD_df['Cause Name'].value_counts()
COD_cause_counts

Unintentional injuries     969
Alzheimer's disease        969
Stroke                     969
CLRD                       969
Diabetes                   969
Heart disease              969
Influenza and pneumonia    969
Suicide                    969
Cancer                     969
Kidney disease             969
Name: Cause Name, dtype: int64

In [39]:
COD_State_counts = COD_df['State'].value_counts()
COD_State_counts

Alabama                 190
Pennsylvania            190
Nevada                  190
New Hampshire           190
New Jersey              190
New Mexico              190
New York                190
North Carolina          190
North Dakota            190
Ohio                    190
Oklahoma                190
Oregon                  190
Rhode Island            190
Montana                 190
South Carolina          190
South Dakota            190
Tennessee               190
Texas                   190
Utah                    190
Vermont                 190
Virginia                190
Washington              190
West Virginia           190
Wisconsin               190
Nebraska                190
Missouri                190
Alaska                  190
Idaho                   190
Arizona                 190
Arkansas                190
California              190
Colorado                190
Connecticut             190
Delaware                190
District of Columbia    190
Florida                 190
Georgia                 190
Hawaii                  190
Illinois                190
Mississippi             190
Indiana                 190
Iowa                    190
Kansas                  190
Kentucky                190
Louisiana               190
Maine                   190
Maryland                190
Massachusetts           190
Michigan                190
Minnesota               190
Wyoming                 190
Name: State, dtype: int64

In [50]:
cause_avg = COD_df.groupby('Cause Name')['Deaths'].mean()
cause_avg.sort_values(ascending = False)

Cause Name
Heart disease              12613.663571
Cancer                     11190.551084
Stroke                      2813.749226
CLRD                        2677.943240
Unintentional injuries      2422.930857
Alzheimer's disease         1542.637771
Diabetes                    1444.729618
Influenza and pneumonia     1129.660475
Kidney disease               886.081527
Suicide                      719.314757
Name: Deaths, dtype: float64

In [102]:

Cause_by_state_avg = COD_df.groupby(['State', 'Cause Name'])['Deaths'].mean().reset_index()
Cause_by_state_avg_df = Cause_by_state_avg.sort_values(by=['State', 'Deaths'], ascending=[True, False]).set_index(['State', 'Cause Name'])
Cause_by_state_avg_df = Cause_by_state_avg_df.rename(columns={'Deaths': 'Average Death'})
Cause_by_state_avg_df['Average Death'] = Cause_by_state_avg_df['Average Death'].round(2)



Cause_by_state_avg_df.to_csv('Created CSV/Cause_by_state_avg_df.csv')

In [84]:
Yr_avg_death = COD_df.groupby('Year')['Deaths'].mean()
Yr_avg_death.sort_values(ascending = False)

Year
2017    4081.433333
2016    3988.468627
2015    3947.092157
2014    3800.800000
2002    3762.496078
2003    3749.245098
2013    3745.707843
1999    3736.913725
2000    3729.792157
2001    3724.231373
2005    3705.845098
2012    3679.584314
2008    3672.511765
2011    3665.335294
2004    3655.162745
2006    3636.619608
2010    3632.056863
2007    3620.198039
2009    3604.903922
Name: Deaths, dtype: float64

In [104]:
Yr_avg_death = COD_df.groupby(['State','Year'])['Deaths'].mean().reset_index()
Yr_avg_death_df = Yr_avg_death.sort_values(by=['Year', 'Deaths'], ascending=[True, False]).set_index(['Year', 'State'])
Yr_avg_death_df = Yr_avg_death_df.rename(columns={'Deaths': 'Average Death'})
Yr_avg_death_df['Average Death'] = Yr_avg_death_df['Average Death'].round(2)


Yr_avg_death_df.to_csv('Created CSV/Yr_avg_death_df.csv')

In [110]:
big_four = COD_df.loc[COD_df['State'].isin(['California', 'New York', 'Florida', 'Texas'])]
big_four = big_four.groupby(['State', 'Cause Name'])['Deaths'].mean().reset_index()
big_four = big_four.sort_values(by=['State', 'Deaths'], ascending=[True, False]).set_index(['State', 'Cause Name'])
big_four = big_four.rename(columns={'Deaths': 'Average Death'})
big_four['Average Death'] = big_four['Average Death'].round(2)


big_four.to_csv('Created CSV/big_four.csv')

In [115]:
big_four_yr = COD_df.loc[COD_df['Year'].isin([2017, 2016, 2015, 2014])]
big_four_yr = big_four_yr.groupby(['Year', 'Cause Name'])['Deaths'].mean().reset_index()
big_four_yr = big_four_yr.sort_values(by=['Year', 'Deaths'], ascending=[True, False]).set_index(['Year','Cause Name'])
big_four_yr = big_four_yr.rename(columns={'Deaths': 'Average Death'})
big_four_yr['Average Death'] = big_four_yr['Average Death'].round(2)


big_four_yr.to_csv('Created CSV/big_four_yr.csv')

In [128]:
import os
from sqlalchemy import create_engine


csv_file_path = 'Created CSV/Cause_by_state_avg_df.csv'
sqlite_file_path = 'sqlite:///Created SQLite/Cause_by_state_avg_df.sqlite'

df = pd.read_csv(csv_file_path)

engine = create_engine(sqlite_file_path)

table_name = csv_file_path.split('/')[-1].replace('.csv', '')

df.to_sql(table_name, engine, if_exists='replace', index=False)

510

In [129]:
engine = create_engine('sqlite:///Created SQLite/Cause_by_state_avg_df.sqlite')
table_name = 'Cause_by_state_avg_df'  


result = engine.execute(f"SELECT * FROM {table_name} LIMIT 5")
for row in result:
    print(row)


result.close()

('Alabama', 'Heart disease', 12660.16)
('Alabama', 'Cancer', 10062.63)
('Alabama', 'Stroke', 2865.16)
('Alabama', 'CLRD', 2698.0)
('Alabama', 'Unintentional injuries', 2414.26)

In [130]:
csv_file_path = 'Created CSV/Yr_avg_death_df.csv'
sqlite_file_path = 'sqlite:///Created SQLite/Yr_avg_death_df.sqlite'

df = pd.read_csv(csv_file_path)

engine = create_engine(sqlite_file_path)

table_name = csv_file_path.split('/')[-1].replace('.csv', '')

df.to_sql(table_name, engine, if_exists='replace', index=False)

969

In [131]:
engine = create_engine('sqlite:///Created SQLite/Yr_avg_death_df.sqlite')
table_name = 'Yr_avg_death_df'  


result = engine.execute(f"SELECT * FROM {table_name} LIMIT 5")
for row in result:
    print(row)


result.close()

(1999, 'California', 18615.3)
(1999, 'New York', 13073.9)
(1999, 'Florida', 13018.3)
(1999, 'Texas', 11630.4)
(1999, 'Pennsylvania', 10438.8)

In [132]:
csv_file_path = 'Created CSV/big_four.csv'
sqlite_file_path = 'sqlite:///Created SQLite/big_four.sqlite'

df = pd.read_csv(csv_file_path)

engine = create_engine(sqlite_file_path)

table_name = csv_file_path.split('/')[-1].replace('.csv', '')

df.to_sql(table_name, engine, if_exists='replace', index=False)

40

In [133]:
engine = create_engine('sqlite:///Created SQLite/big_four.sqlite')
table_name = 'big_four'  


result = engine.execute(f"SELECT * FROM {table_name} LIMIT 5")
for row in result:
    print(row)


result.close()

('California', 'Heart disease', 63398.58)
('California', 'Cancer', 55907.11)
('California', 'Stroke', 15495.05)
('California', 'CLRD', 13123.58)
('California', 'Unintentional injuries', 10945.32)

In [134]:
csv_file_path = 'Created CSV/big_four_yr.csv'
sqlite_file_path = 'sqlite:///Created SQLite/big_four_yr.sqlite'

df = pd.read_csv(csv_file_path)

engine = create_engine(sqlite_file_path)

table_name = csv_file_path.split('/')[-1].replace('.csv', '')

df.to_sql(table_name, engine, if_exists='replace', index=False)

40

In [135]:
engine = create_engine('sqlite:///Created SQLite/big_four_yr.sqlite')
table_name = 'big_four_yr'  


result = engine.execute(f"SELECT * FROM {table_name} LIMIT 5")
for row in result:
    print(row)


result.close()

(2014, 'Heart disease', 12046.04)
(2014, 'Cancer', 11601.96)
(2014, 'CLRD', 2884.33)
(2014, 'Unintentional injuries', 2665.25)
(2014, 'Stroke', 2609.86)